.App {
  text-align: center;
  font-family: 'Architects Daughter', cursive;
}

body {
  background-color: rgba(27, 27, 27, 0.87);
}

@media (max-width: 768px) {
  .App {
    font-family: Helvetica, sans-serif;
  }
}
